<h1>
     Winger / <%= title %>
 </h1>

 <section id="feed-posts">
     <h4>Posts</h4>
    
     <% if(locals.user){ %>
     <form action="/posts/create" id="new-post-form" method="POST">
         <textarea placeholder="type here .." name="content" cols="30" rows="3"></textarea>
         <input type="submit" value="Post">
     </form>
     <% } %>

     <div id="posts-list-container">
         <ul>
             <% for(post of posts){ %>

                <li>
                <P>
                    <%= post.content %>
                    <br>
                    <small><%= post.user.name %></small>
                </P>

                <div class="post_comments">
                    <% if(locals.user){ %>
                    
                        <form action="/comments/create" method="post">

                            <input type="text" name="content" placeholder="add comment">

                            <!-- giving hidden data to each comment so that we know to which post the comment is related -->
                            <input type="hidden" name="post" value="<%= post._id %>" >
                            <input type="submit" value="Add Comment">
                        </form>
                    
                    
                        <% } %>
                </div>

                </li>

                <% } %>
         </ul>
     </div>

 </section>
