<link rel="stylesheet" href="<%= assetPath('css/sign_in.css') %>">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


<div id="signin-body">
<div id="left-section">
<div id="sign-in">
<div class="row justify-content-center" id="gg">Sign In</div>

<form class="row justify-content-center mt-5" action="/users/create-session" method="POST">
    <input class="row justify-content-center" style="width: 80%;color: black;" type="email" name="email" placeholder="Email"  required>
    <input class="row justify-content-center mt-3" style="width: 80%;color: black;" type="password" name="password" placeholder="Password"  required>
    <input class="row justify-content-center mt-4" style="width: 50%; color: rgb(2, 2, 2);" type="submit" value="Sign In">

</form>

<div class="row mt-5">
<p class="col-6 text-center justify-content-center">
    <button type="button" style="background-color: rgb(19, 15, 24);font-size: 12px;" class="btn btn-default"><a style="color: white;" href="/users/auth/google"> 
        <img
        alt="logo"
        src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png"
        height="20px"
        width="20px"
        style="margin: auto"
        >SignIn/Signup</a></button>


</p>

<p class="forgot col-6 text-center justify-content-center">
    <button type="button" style="background-color: rgb(19, 15, 24);font-size: 12px;" class="btn btn-default"><a style="color: white;" href="/users/forget-password">Forgot Password?</a></button>
    
</p>
</div>

</div>
</div>

<div id="right-section">

    <div id="one">Welcome to</div>
    <div id="two">Winger</div>
    <div id="three">Where you connect to peers.</div>
</div>

</div>