body{
    margin: 0;
    /* text-align: center; */

    #layout-main{
        height: 100%;
    }

    #posts-list-container{

        height: 60%;
        width: 40%;
        border: 1px solid rgb(104, 98, 98);
        overflow: scroll;
    }


}