/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}





/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  /* margin-top: 47px; */
    min-width: 58%;
    max-width: 58%;
    height: 625px;
    background: #0e111b;
    color: #fff;
    margin-left: 12px;
    box-shadow: 5px 5px 10px 5px black;
  }

#sidebar .sidebar-header {
    margin-top: 20px;
    background: #0c0e18;
    
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-right: 0px;
    }
}

#user-chat-box {
  
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background: rgb(5, 5, 7);
  padding: 0px;
  box-shadow: 0px 0px 10px 5px rgb(10, 10, 10); }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: rgb(23, 22, 36);
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        border-radius: 20px;
        background-image: linear-gradient(90deg,rgb(30, 14, 37), rgb(58, 26, 68)); }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        border-radius: 20px;
        background-image: linear-gradient(270deg,rgb(30, 14, 37), rgb(58, 26, 68)); }
  #user-chat-box #chat-message-input-container {
    height: 70px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 100%;
      background-color: black;
      color: rgb(204, 204, 204);
      width: 70%; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 60%;
      width: 25%;
      font-size: 25px;
      color: white;
      border: none;
      margin-top: 15px;
      padding: 2px;
      margin-left: 5px;
      background: #242424; }
