#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
    #home-container #feed-posts #posts-list-container {
      height: 40%;
      width: 80%;
      border: 1px solid #686262;
      overflow: scroll; }
  #home-container #user-friends {
    border-left: 1px solid #9c9898;
    padding: 10px; }
