#home-container {
  display: flex;
  background: rgb(48, 47, 47);
 }
  #home-container #feed-posts {
    width: 70%;
    padding-left: 10px;
    margin-top: 50px;
  }
    #home-container #feed-posts #posts-list-container {
      height: 70vh;
      width: 80%;
      /* border: 1px solid #ff44b1; */
      overflow: scroll;
    background-color: #b6b3b5; }
  #home-container #user-friends {

    align-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 47px;
    border: 1px solid #4e4d4d;
    background-color: rgb(156, 154, 154);
    width: 15%;
    height: 625px;
    padding: 10px; }
    
    #friends-list {
      border: 1px solid black;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      background: blanchedalmond;
      height: 45%;
      width: 95%;
     
      padding: 3px;
    
    }
    #friends-list-box::-webkit-scrollbar {
      display: none;
    }
    #friends-list-box{
      width: 100%;
      height: 83%;
      /* border: 1px solid red; */
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
      overflow: scroll;
    }

      #friend-list-heading{
       text-align: center;
       margin-bottom: 15px;
       margin-top: 10px;
      }
      #friend-block{
        margin-left: 5%;
        background: rgb(179, 180, 177);
        width: 90%;
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 3px;
        padding-top: 4px;
        box-shadow: 2px 2px 2px 2px rgba(105, 104, 104, 0.4);
        border-radius: 4px;

      }
      #friend-block:hover {
        transform: scale(1.1);
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
        -webkit-transition: transform 0.3s ease-in-out;
      }
      #friend-block a{

        color: cornsilk;
        text-decoration: none;

      }
      #friend-pic{
        height: 30px;
        margin-right: 5px;
        border-radius: 50%;
      }
    
      
