#container{
  /* border: 1px solid red; */
  height: 100%;
  padding-top: 100px;
  padding-left: 50px;
  background-color: rgb(10, 10, 20);
  display: flex;
  
}
#left-section{
  width: fit-content;
  height: 300px;
  border-bottom-left-radius:115px ;
  border-bottom-right-radius:115px ;
  background-image: linear-gradient(rgb(30, 14, 37), rgb(81, 38, 94));
  margin-top: -50px;
  margin-right: 100px;
  align-items: center;
  padding: 20px; 
  box-shadow: 0px 0px 10px 5px black;
  /* border: 1px solid red; */
}
#profile-pic{
  width: 200px;
  margin-top: 55px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px rgb(32, 32, 32);
}
#right-section{
  /* border: 1px solid red; */
  margin-top: -50px;
  width: 40%;
}
#heading{
  font-size: 2vw;
  margin-top: 30px;
  color: rgb(185, 185, 185);
   font-family:Arial, Helvetica, sans-serif;
   font-weight: lighter;
  color: rgb(194, 194, 194);
  background-color: rgb(19, 18, 27);
  padding: 7px;
  width: fit-content;
  padding-left: 7px;
  padding-right: 7px;
  border-top: 1px solid rgb(126, 126, 126);
  border-left: 1px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 10px 5px black;
}
#update-container{
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}
#update{
  height: 30px;
  width: 200px;
  background-color: black;
  color: white;
  margin-bottom: 20px;
  font-size: 0.9vw;
}
#submit-button{
  height: 30px;
  width: 80px;
  color: aliceblue;
  background-image: linear-gradient(90deg,rgb(30, 14, 37), rgb(84, 43, 97));
}
#info{
  font-size: 1.2vw;
  color: antiquewhite;
}
#add-button{
  width: 100px;
  height: 30px;
  margin-top: 40px;
  padding: 7px;
  color: aliceblue;
  background-image: linear-gradient(rgb(30, 14, 37), rgb(81, 38, 94));
}